<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Search for a song</h1>
    <div id="app">
        <form id="form" @submit="findLyric" action="/" method="GET">
            <input type="text" name="artist" id="artist" v-model="artist" placeholder="Artist">
            <input type="text" name="song" id="song" v-model="song" placeholder="Song">
            <input type="submit" value="Search">
        </form>
        <div class="container">
            <p>{{text}}</p>
            <div id="video"></div>
        </div>
    </div>
    

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>
<script src="https://apis.google.com/js/api.js?=init"></script>
</html>